
<main>
<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<!-- Change Account Form -->
<h1>Update Your Account</h1>

<form action="/account/update-account" method="post">
  <label for="account_firstname">First Name</label>
  <input type="text" id="account_firstname" name="account_firstname" value="<%= account.account_firstname %>" required>

  <label for="account_lastname">Last Name</label>
  <input type="text" id="account_lastname" name="account_lastname" value="<%= account.account_lastname %>" required>

  <label for="account_email">Email</label>
  <input type="email" id="account_email" name="account_email" value="<%= account.account_email %>" required>

  <input type="hidden" name="account_id" value="<%= account.account_id %>">

  <button type="submit">Update Account</button>
</form>


<!-- Change Password Form -->
 <h1>Update Your Password</h1>
    <form action="/account/update-password" method="post" class="form-section">

        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required />

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />

        <input type="hidden" name="accountId" value="<%= account.id %>" />
        <button type="submit">Change Password</button>
    </form>
</main>