
<main>
 <% if (errors && errors.length > 0) { %>
      <div class="error">
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>

    <% if (message) { %>
      <div class="message">
        <p><%= message %></p>
      </div>
    <% } %>

<!-- Change Account Form -->

<form action="/account/update-account" method="post">
  <fieldset>
    <legend><h1>Update Your Account</h1></legend>
  <label for="account_firstname">First Name</label>
  <input type="text" id="account_firstname" name="account_firstname" value="<%= account.account_firstname %>" required>

  <label for="account_lastname">Last Name</label>
  <input type="text" id="account_lastname" name="account_lastname" value="<%= account.account_lastname %>" required>

  <label for="account_email">Email</label>
  <input type="email" id="account_email" name="account_email" value="<%= account.account_email %>" required>

  <input type="hidden" name="account_id" value="<%= account.account_id %>">

  <button type="submit">Update Account</button>
  </fieldset>
</form>


<!-- Change Password Form -->

 

   <form action="/account/update-password" method="post" class="form-section">
  <fieldset>
    <legend><h1>Update Your Password</h1></legend>

    <label for="password">New Password</label>
    <input type="password" id="password" name="password" minlength="12"
      pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9])[\S]+" required />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" minlength="12"
      pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9])[\S]+" required />

    <input type="hidden" name="accountId" value="<%= account.account_id %>" />

    <button type="submit">Change Password</button>

    <p>
      Entering a new password will replace your current one. Passwords must be at least 12 characters long and contain at least one number, one uppercase letter, and one special character.
    </p>
  </fieldset>
</form>
</main>